<a href="https://colab.research.google.com/github/altynbektilepbergenov/Food-Sales-predictions/blob/main/Sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [98]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [99]:
import pandas as pd

In [100]:
filename='/content/sales_predictions.csv' # I uploaded the data from csv file to gogle collab notebook
df=pd.read_csv(filename)  #Here is data below:
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

Cleaning the data consists of several steps: duplicated values, data types( irrelevant data, dropping them if necessary), correcting, imputing

In [101]:
# First, I wanted to check if there are any duplicated values in the dataset
df.duplicated().any()

False

In [102]:
# I got False result, it means there are any duplicated data in the dataset

In [103]:
df[df.duplicated(keep = False)] # Used this algorithm to see which data is duplicated

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [104]:
#Anyway i used drop method to remove all the duplicated values

In [105]:
df.drop_duplicates(inplace = True)

In [106]:
#  I made sure that there are no duplicated values in my data
df.duplicated().any()

False

In [107]:
# Checked data types in the dataset
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [108]:
# I checked every column data types to look for any values 
#that look weird/should be interpreted as the same things!

df['Item_Identifier'].value_counts()

FDW13    10
FDG33    10
NCF42     9
FDW26     9
FDV38     9
         ..
FDC23     1
FDT35     1
FDY43     1
FDK57     1
DRF48     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [109]:
#From 1st column I can see that everything is neat

In [110]:
df['Item_Weight'].value_counts() # Second column data types are also accurate

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64

In [111]:
df['Item_Fat_Content'].value_counts() 
# Third column data types have some values which are intrepeted differently but mean the same things

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [112]:
df['Item_Visibility'].value_counts()

0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
           ...
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [113]:
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [114]:
df['Item_MRP'].value_counts()

172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
           ..
212.8218    1
190.3872    1
162.6868    1
189.1214    1
51.3008     1
Name: Item_MRP, Length: 5938, dtype: int64

In [115]:
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT046    930
OUT035    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [116]:
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [117]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [118]:
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [119]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [120]:
df['Item_Outlet_Sales'].value_counts()

958.7520     17
1342.2528    16
1845.5976    15
703.0848     15
1278.3360    14
             ..
3167.8764     1
2226.4352     1
1684.4740     1
1574.6170     1
6692.6216     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

Now, we clean the Item_Fat_Content column

In [121]:
df.loc[df['Item_Fat_Content'] == 'LF', 'Item_Fat_Content'] = 'Low Fat'
df['Item_Fat_Content'].value_counts()

Low Fat    5405
Regular    2889
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [122]:
df.loc[df['Item_Fat_Content'] == 'reg', 'Item_Fat_Content'] = 'Regular'
df['Item_Fat_Content'].value_counts()

Low Fat    5405
Regular    3006
low fat     112
Name: Item_Fat_Content, dtype: int64

In [123]:
df.loc[df['Item_Fat_Content'] == 'low fat', 'Item_Fat_Content'] = 'Low Fat'
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [124]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [125]:
df.drop(columns = ['Item_Weight', 'Outlet_Size'], inplace = True)
df.head()

  Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           FDA15          Low Fat  ...  Supermarket Type1         3735.1380
1           DRC01          Regular  ...  Supermarket Type2          443.4228
2           FDN15          Low Fat  ...  Supermarket Type1         2097.2700
3           FDX07          Regular  ...      Grocery Store          732.3800
4           NCD19          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 10 columns]

In [126]:
#total amount of money we got from the sales
df['Item_Outlet_Sales'].sum()

18591125.410399996

In [138]:

df.groupby('Outlet_Type')['Item_Outlet_Sales'].max() # which outlet type made more money

Outlet_Type
Grocery Store         1775.6886
Supermarket Type1    10256.6490
Supermarket Type2     6768.5228
Supermarket Type3    13086.9648
Name: Item_Outlet_Sales, dtype: float64